
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
PORT=
# TIME ZONE UTC
DB_TIMEZONE=00:00
TIMEZONE=
# EMAIL SERVICE
RESEND_API_KEY=
EMAIL_FROM=
EMAIL_PROVIDER=
# ENVIROMENTS
HOST=
# CORS origen permitido (dominio del frontend)
CORS_ORIGIN=
# JWT SECRET clave secreta para firmar los tokens JWT, debe ser una cadena larga y segura
JWT_SECRET= 